/*Botões & Links*/

.botao {
  font: 600 1.125rem/1.77 "Poppins";
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a60c);
  color: var(--primary-05);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.link {
  font: 600 1.5rem/1.5 "Poppins";
  text-transform: uppercase;
  display: inline-block;
  color: var(--primary-01);
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: currentColor;
}

.link:hover {
  color: var(--white);
}

.botao.prata {
  background: var(--gray-14);
  color: var(--gray-07);
}

.botao.prata:hover {
  background: var(--gray-13);
  color: var(--gray-06);
}

#bicicletas .botao {
  display: flex;
  align-items: center;
  gap: 16px;
}

#bicicletas .botao::after {
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  background: url("../../img/icones/seta.svg") no-repeat;
  transition: transform 0.3s;
}

#bicicletas .botao:hover::after {
  transform: translateX(4px);
}

@media (max-width: 1000px) {
  #bicicletas .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .link {
    font-size: 1rem;
  }

  .link::after {
    height: 2px;
  }
}

@media (max-width: 600px) {
  .botao {
    padding: 8px 12px;
    font-size: 1rem;
  }
}

/*Container & Titulo*/

.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

#contato .container.contato {
  padding-left: 60px;
  padding-left: 40px;
}

.titulo-bg {
  background: var(--gray-15);
}

.titulo {
  padding-top: 60px;
  padding-bottom: 60px;
}

.titulo > span {
  display: block;
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .titulo {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #contato .container.contato {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 400px) {
  .titulo {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/*Formulários*/

form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

form input,
form textarea {
  margin-top: 4px;
  padding: 12px;
  border: 2px solid var(--gray-04);
  border-radius: 4px;
  color: var(--gray-15);
  background: var(--gray-02);
}

form input:focus,
form textarea:focus {
  outline: none;
  border: 2px solid var(--primary-01);
  box-shadow: 0px 0px 0px 2px rgba(255, 187, 0, 0.5);
}

#contato form .email,
#contato form .mensagem {
  grid-column: 1/-1;
}

@media (max-width: 1000px) {
  #contato form button {
    grid-column: 1/-1;
  }
}

@media (max-width: 600px) {
  #contato form .nome,
  #contato form .telefone {
    grid-column: 1/-1;
  }
}
