.header-bg {
  background: var(--black);
}

.header {
  padding: 32px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.header-menu a {
  text-decoration: none;
  display: inline-block;
  padding: 16px 0px;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: var(--white);
  transition: 0.3s all;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    background-color: var(--gray-15);
    padding: 8px 12px;
    border-radius: 4px;
  }

  .header-menu a:hover {
    background: var(--gray-14);
  }

  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    padding: 20px 0px;
  }

  .header-menu {
    gap: 12px;
  }
}
