body {
  font-family: Rubik;
}

body,
h1,
h2,
h3,
p,
ul,
blockquote,
dl,
dd {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

#lojas img {
  border-radius: 4px 4px 0px 0px;
}

#depoimento img {
  border-radius: initial;
}

a {
  color: inherit;
  text-decoration: none;
}

#contato form input,
#contato form textarea,
#orcamento form input[type="text"],
#orcamento form input[type="email"],
#orcamento form select {
  width: 100%;
}

input,
textarea {
  box-sizing: border-box;
}

textarea {
  resize: none;
}

button {
  width: 100%;
  background: none;
  cursor: pointer;
  border: none;
}
