.escolha {
  --padding-box: 120px;
  padding-top: var(--padding-box);
  padding-bottom: var(--padding-box);
  position: relative;
}

.escolha::before {
  content: "";
  display: block;
  width: 56px;
  height: 56px;
  background: url("../../img/dec/top-left.svg") no-repeat;
  position: absolute;
  top: 0px;
  left: 40px;
}

#bicicleta .escolha::before {
  top: 40px;
}

.escolha h2 {
  margin-bottom: 32px;
}

.escolha-lista {
  max-width: 1400px;
  display: flex;
  gap: 40px;
}

.escolha-lista a {
  display: inline-block;
}

.escolha-lista a:hover h3::before {
  width: 24px;
}

.escolha-lista img {
  margin-bottom: 16px;
}

.escolha-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.escolha-lista h3::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 12px;
  background: var(--primary-01);
  transition: 0.3s all;
}

.escolha-lista span {
  margin-left: 24px;
}

@media (max-width: 1200px) {
  .escolha-lista h3::before {
    height: 8px;
  }
}

@media (max-width: 800px) {
  .escolha::before {
    display: none;
  }
  .escolha {
    --padding-box: 40px;
  }
  .escolha h2 {
    margin-bottom: 16px;
  }
  .escolha-lista {
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 20px;
  }
  .escolha-lista li {
    min-width: 280px;
  }
  .escolha-lista img {
    margin-bottom: 12px;
  }
  .escolha-lista h3 {
    margin-bottom: 4px;
  }
}
