.introducao-bg {
  background: var(--black);
  box-shadow: inset 0px -120px 0px var(--white);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  position: relative;
}

.introducao-info {
  padding-bottom: 200px;
  align-self: end;
}

.introducao-info h1 {
  margin-bottom: 32px;
}

.introducao-info p {
  margin-bottom: 20px;
}

.introducao-img img {
  width: 100%; /*safari*/
  height: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .introducao-bg {
    background: var(--gray-15);
    box-shadow: inset 0px -60px 0px var(--white);
    padding-top: 40px;
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao-info {
    padding-bottom: 0px;
  }

  .introducao-info h1 {
    margin-bottom: 16px;
  }

  .introducao-img img {
    height: 300px;
    width: 100%;
  }
}
