.seguros-bg {
  background: var(--gray-15) url("../../img/dec/bottom-left.svg") no-repeat
    bottom 40px left 40px;
  --padding-box: 120px;
  padding-top: calc(var(--padding-box) / 2);
  padding-bottom: var(--padding-box);
}

#seguros .seguros-bg {
  padding-top: 0px;
}

#seguros-home h2 {
  margin-bottom: 60px;
}

.seguros-lista {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.seguros-lista > li {
  background: var(--black);
  padding: 32px 32px 32px 60px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.seguros-lista span {
  text-align: right;
  display: block;
  grid-column: 2;
}

.seguros-lista .botao {
  grid-column: 1/-1;
  text-align: center;
}

.seguro-beneficios {
  margin-bottom: 32px;
  grid-column: 1/-1;
}

.seguro-beneficios li + li {
  margin-top: 20px;
}

.seguro-beneficios li {
  position: relative;
  display: flex;
  align-items: center;
}

.seguro-beneficios li::before {
  content: "";
  display: inline-block;
  background: url("../../img/icones/check.svg") no-repeat;
  width: 13px;
  height: 9px;
  position: absolute;
  left: -21px;
}

@media (max-width: 800px) {
  .seguros-bg {
    --padding-box: 40px;
    padding-top: var(--padding-box);
  }
  #seguros-home h2 {
    margin-bottom: 32px;
  }
  .seguros-lista {
    grid-template-columns: 1fr;
  }

  .seguros-lista > li {
    position: relative;
  }

  .seguros-lista > li::after {
    content: "";
    display: block;
    width: 56px;
    height: 56px;
    background: url("../../img/dec/bottom-right.svg") no-repeat;
    position: absolute;
    bottom: 40px;
    right: 40px;
  }

  .seguros-lista .botao {
    justify-self: start;
  }
}

@media (max-width: 480px) {
  .seguros-lista > li::after {
    display: none;
  }
  .seguros-lista > li {
    padding: 32px;
  }
}

@media (max-width: 320px) {
  #seguros-home h3,
  #seguros h2 {
    margin-bottom: 24px;
  }
}
