.termos {
  --padding-box: 120px;
  padding-top: calc(var(--padding-box) / 2);
  padding-bottom: var(--padding-box);
}

.termos h2 {
  margin-bottom: 24px;
}

.termos p {
  max-width: 70ch;
}

.termos p + p {
  margin-top: 20px;
}

.termos p + h2 {
  margin-top: 48px;
}

@media (max-width: 800px) {
  .termos {
    --padding-box: 40px;
    padding-top: var(--padding-box);
  }

  .termos h2 {
    margin-bottom: 16px;
  }

  .termos p + h2 {
    margin-top: 32px;
  }
}
